@import url('../fonts/Caveat/caveat.css');
@import url('../fonts/Permanent_Marker/permanent.css');
@import url('../fonts/Inter/inter.css');

body {
	margin: 0;
	overflow-x: hidden;
	background-color: #fdfdfd;
	font-family: "Inter", sans-serif !important;
	background:
		radial-gradient(black 3px, transparent 4px),
		radial-gradient(black 3px, transparent 4px),
		linear-gradient(#fff 4px, transparent 0),
		linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
		linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
		#fff;
	background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Permanent Marker", cursive;
	margin: 0;
}



* {
	margin: 0;
	padding: 0;
}

a {
	display: block;
	text-decoration: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	outline: none !important;
}

input {
	outline: none !important;
	border: none;
}

.hidden-el {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.ReactVirtualized__List::-webkit-scrollbar {
	width: 6px;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
	background-color: #D50A84;
	border-radius: 16px;
}