@font-face {
	font-family: "Caveat";
	src: url("./static/Caveat-Regular.ttf");
	font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: "Caveat";
	src: url("./static/Caveat-Medium.ttf");
	font-weight: 500;
  font-style: normal;
}

@font-face {
	font-family: "Caveat";
	src: url("./static/Caveat-SemiBold.ttf");
	font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: "Caveat";
	src: url("./static/Caveat-Bold.ttf");
	font-weight: 700;
  font-style: normal;
}